<header>
    <div class="container">
            <nav class="navbar navbar-expand-sm space-between">

                <div class="brand">
                    <img src="assets/img/logo.png" alt="" style="width:130px;">
                </div>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['home']">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['ngFor']">Learn ngFor</a>
                      </li>

                      <li class="nav-item">
                            <a class="nav-link" [routerLink]="['api']">Learn Api</a>
                          </li>


                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['ngIf']">Learn ngIf</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" [routerLink]="['formbuilder']">Learn Form Builder</a>
                        </li>

                    </ul>
                  </nav>
    </div>
   
</header>