<!--banner section-->
<section class="banner">
  <div id="particles-js" class="overaly"></div>
  <div class="container pos-relative height-100 banner-content">
    <div class="contanet pos-relative m-auto">
      <h1 class="text-center text-white">LEARN ANGULAR FEATURES</h1>
      <p class="letter-spacing-1 mb-0 mt-10 text-center text-white">Here we will learn about all angular application versions. Also learn about the features of angular like conditoins
        part dynamic data and much more. </p>
    </div>
  </div>
</section>
<!--what is angular section-->
<section class="padding-80px-tb">
  <div class="container">
    <div class="row">
      <div class="col-md-5 middle-content">
        <h2 class="font-weight-400 mb-10">What is Angular ?</h2>
        <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
          dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular
          empowers developers to build applications that live on the web, mobile, or the desktop</p>
      </div>


      <div class="col-md-7">
        <div class="what-angular">
          <img class="w-100" src="/assets/img/angular-about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding-80px-tb bg-light-blue">
  <div class="container">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="title mb-40">
        <h2 class="font-weight-400 mb-10">Tutorial Cource</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour,</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 middle-content">
        <img src="/assets/img/Asset 1.png" alt="" style="width: 200px">
      </div>

      <div class="col-lg-7">
        <div class="table-responsive bg-white">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Date</th>
                <th>Topic</th>
                <th>Status</th>
                <th>Total Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12/10/2018</td>
                <td>Router making</td>
                <td>Pending</td>
                <td>0.00 Hour</td>
              </tr>
              <tr>
                <td>13/10/2018</td>
                <td>Ng If</td>
                <td>Pending</td>
                <td>0.00 Hour</td>
              </tr>
              <tr>
                <td>14/10/2018</td>
                <td>Ng For</td>
                <td>Pending</td>
                <td>0.00 Hour</td>
              </tr>

              <tr>
                <td>16/10/2018</td>
                <td>Call API</td>
                <td>Pending</td>
                <td>0.00 Hour</td>
              </tr>

              <tr>
                <td>17/10/2018</td>
                <td>From Builder</td>
                <td>Pending</td>
                <td>0.00 Hour</td>
              </tr>


            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>